{% load static %}
{% include "header.html" %}
{% block content %}

<section class="feature-area section-gap" id="service">
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="menu-content pb-60 col-lg-8">
            <div class="title text-center">
            <h1 class="mb-10">User Form</h1>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="pt-4">
        <button type="submit">Save</button>
    </div>
</form>

    </div>
</div>
</section>
{% endblock %}
{% include "footer.html" %}